<<<<<<< HEAD
<h1>Working</h1>
=======

  <div class="nav">
    <div class="title">
      <h1>RVNG</h1>
    </div>
    <div class="dropdown">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div class="hero"></div>
  <div class="search">
  </div>
  <div class="search-results"></div>
>>>>>>> 67022f29d2679e8ef5eb35b01d05ce1781027c02
