
  <div class="nav">
    <div class="title">
      <h1>RVNG</h1>
    </div>
    <div class="dropdown">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
  <div class="hero"></div>
  <div class="search">
  </div>
  <div class="search-results"></div>
   <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0be9"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a> 
    </section>
