<section class="u-align-center u-clearfix u-image u-shading u-section-1" data-image-width="1280"
    data-image-height="853" id="sec-8c10">
    <h1 class="u-custom-font u-text u-text-palette-4-light-1 u-title u-text-1" data-animation-name="fadeIn"
      data-animation-duration="1000" data-animation-direction="" data-animation-delay="0">
      <span style="font-weight: 700;">
        <span class="u-text-palette-4-dark-1">RVnG</span>
      </span>
    </h1>
    <p class="u-custom-font u-large-text u-text u-text-body-alt-color u-text-variant u-text-2">
      <span class="u-text-palette-3-base" style="font-size: 1.5rem;">
        <span class="u-text-palette-3-light-2">Get an RV and Go!</span>&nbsp;
      </span>
      <br>
      <br>
      <span style="font-size: 1.5rem; font-weight: 700;" class="u-text-custom-color-5">Travel to your favorite
        cities.</span>
      <br>
      <br>
      <span class="u-text-custom-color-7" style="font-size: 1.5rem;">We can even plan your day for you!</span>
    </p>
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1 form-hide">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-1">
            <div
              class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
              <div class="u-form u-login-control u-form-1">
                <form action="#" method="POST"
                  class="u-clearfix u-form-custom-backend u-form-spacing-12 u-form-vertical u-inner-form"
                  source="custom" name="form-4" style="padding: 0px;">
                  <div class="u-form-group u-form-name">
                    <label for="email-login" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Enter your Username" id="email-login" name="username"
                      class="u-border-1 u-border-white u-input u-input-rectangle u-radius-50 u-white" required="">
                  </div>
                  <div class="u-form-group u-form-password">
                    <label for="password-login" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Enter your Password" id="password-login" name="password"
                      class="u-border-1 u-border-white u-input u-input-rectangle u-radius-50 u-white" required="">
                  </div>
                  <div class="u-form-checkbox u-form-group">
                    <input type="checkbox" id="checkbox-22e3" name="remember" value="On">
                    <label for="checkbox-22e3" class="u-label">Remember me</label>
                  </div>
                  <div class="u-align-left u-form-group u-form-submit">
                    <div class="u-btn u-btn-round u-btn-submit u-button-style u-radius-50 u-btn-1 login-form">Login</div>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                  <input type="hidden" value="" name="recaptchaResponse">
                </form>
              </div>
              <a href=""
                class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-body-alt-color u-btn-2">Forgot
                password?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://nicepage.com/website-builder"
      class="u-border-4 u-border-grey-75 u-btn u-btn-round u-button-style u-custom-font u-gradient u-none u-radius-15 u-text-body-color u-text-hover-palette-3-light-1 u-btn-3">Start
      Looking Now</a>
  </section>
  <section class="u-clearfix u-gradient u-section-2" id="carousel_2eb4">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div
                  class="u-container-style u-layout-cell u-left-cell u-radius-36 u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-1">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1280"
                      data-image-height="853"
                      src="stylesheets/images/7afc171973e153c67f8c859653a6f16f5fe2ec574cb371d6be8ca3b954a183e16f7c44f258cf2d873fcaf9cce20e8971855d06e92baa1e1d909c49_1280.jpg">
                    <p class="u-text u-text-1">Santorini, Greece</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-1"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6d65"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-6d65" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-radius-36 u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-2">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-2"
                      src="stylesheets/images/a6a5ec7325d21042b2f1b50f96547a47c35dbaab2b3ba5b30c4be550d7baf132209df50230a8986dde12c0acce613a7f37d02a5650a6c29b43c265_1280.jpg"
                      data-image-width="150" data-image-height="93">
                    <p class="u-text u-text-2">Vernazza, Italy</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-2"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-30cf"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-30cf" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-radius-36 u-right-cell u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-3">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-3"
                      src="stylesheets/images/e57584b7df64614f72354ccf08b38efdf14693809a938736db2486f1f19e9dab903f499a0d57fc294820ae65bda488927b31e77ef306d4f9a07361_1280.jpg"
                      data-image-width="150" data-image-height="111">
                    <p class="u-text u-text-3">San Francisco</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-3"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f09"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-6f09" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-row">
                <div
                  class="u-container-style u-layout-cell u-left-cell u-radius-36 u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-4">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-4"
                      src="stylesheets/images/10b40e9d000da7954193d97edfacd3b08cc84ff4ca1e1c740eaf225e24de206f7de1ad6f161222ffeae65060a073a7ac077cb426ee3c4337bc438a_12801.jpg"
                      data-image-width="150" data-image-height="99">
                    <p class="u-text u-text-4">Navagio, Greece</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-4"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e0f6"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-e0f6" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-radius-36 u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-5">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-5"
                      src="stylesheets/images/ea25b1c2952153a0dd465038ebc0579a308c407665369fee5425eb6eec0d328c6a112970e56564984130e90a625cd0f7fd1da941ed898c764b70a3_1280.jpg"
                      data-image-width="1280" data-image-height="960">
                    <p class="u-text u-text-5">Ao Nang, Thailand</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-5"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7e12"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-7e12" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
                <div
                  class="u-container-style u-layout-cell u-radius-36 u-right-cell u-shape-round u-size-20 u-size-20-md u-white u-layout-cell-6">
                  <div class="u-container-layout">
                    <img class="u-expanded-width u-image u-image-6"
                      src="stylesheets/images/b5f09853a51da8f80100e831a63eb9f7a2ae346527044924868124bba9c8cc04a279e511f6d6e629016fdcf500c6422dfcff7f04404af102b130e1_1280.jpg"
                      data-image-width="150" data-image-height="112">
                    <p class="u-text u-text-6">Phi Phi Islands, Thailand</p><span
                      class="u-icon u-icon-circle u-text-grey-25 u-icon-6"><svg class="u-svg-link"
                        preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="undefined">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c3d2"></use>
                      </svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" id="svg-c3d2" x="0px" y="0px" viewBox="0 0 54.757 54.757"
                        style="enable-background:new 0 0 54.757 54.757;" xml:space="preserve" class="u-svg-content">
                        <path
                          d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952  L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M27.557,26c-3.859,0-7-3.141-7-7s3.141-7,7-7s7,3.141,7,7  S31.416,26,27.557,26z">
                        </path>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                        <g></g>
                      </svg></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>