 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  font-family: "Bungee Shade";
  animation-duration: 1000ms;
  margin: 5px 752px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Bungee Shade";
  font-size: 1.5rem;
  letter-spacing: normal;
  font-weight: normal;
  margin: 0 796px 0 44px;
}

.u-section-1 .u-text-3 {
  letter-spacing: 1px;
  font-family: "Bungee Inline";
  text-align: left;
  margin: 290px 709px 0 53px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-style: italic;
  font-size: 1.125rem;
  font-family: "Alfa Slab One";
  font-weight: normal;
  margin: 33px auto 31px 33px;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 552px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 596px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 365px;
    margin-right: 562px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin: 10px 30px 30px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2px;
    margin-right: 332px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 408px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 420px;
    margin-right: 452px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-right: 13px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-right: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 232px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 232px;
    margin-right: 349px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 26px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 160px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -3px;
    margin-right: 23px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    width: 163px;
    margin-top: 451px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 444px;
    margin-left: auto;
    margin-bottom: 23px;
  }
} .u-section-2 {
  background-image: linear-gradient(#77aad9, #3f7c38);
}

.u-section-2 .u-sheet-1 {
  min-height: 893px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 402px;
  background-image: none;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 14px 0 66px;
}

.u-section-2 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -29px auto 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-4 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-5 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-5 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-6 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-6 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 9px;
    margin-left: 35px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 12px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 578px;
}

.u-section-3 .u-group-1 {
  min-height: 378px;
  width: 646px;
  background-image: none;
  margin: 100px 0 -350px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 87px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 27px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-group-1 {
    min-height: 450px;
    width: 660px;
    margin-top: 45px;
    margin-bottom: -571px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-group-1 {
    min-height: 410px;
    margin-bottom: -465px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: -61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-3 .u-group-1 {
    min-height: 485px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 55px;
    margin-bottom: 50px;
  }
} .u-section-4 {
  background-image: linear-gradient(#3f7c38, #f1b5b8);
}

.u-section-4 .u-sheet-1 {
  min-height: 178px;
}

.u-section-4 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 0 auto 20px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 35px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-4 .u-group-1 {
    width: 686px;
    margin-top: 24px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 35px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-5 {
  background-image: linear-gradient(#f1b5b8, #3f7c38);
}

.u-section-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 53px auto 70px 0;
}

.u-section-5 .u-image-1 {
  background-image: url("images/86474c19612d5c7b8856ebd370c1a7808bbfbb4c5f785add3a7e75a702b4cf623c4d7bf16aa6ef7f34d119f701f0218509550c2a206c33349b09f7_1280.jpg");
  min-height: 558px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  background-image: url("images/b784d7196a5ece32eb85059fdb0ef132fd5464a9b8e5611e531c0c0c9de10843d7ba2dbe4014c8a46acda98623d9277c548a9038d587db59822214_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 279px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-1 {
  height: 38px;
  width: 38px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 28px 20px 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 22px 20px 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 279px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-2 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/8aef1d3266d050b2b8d25e204d2e0910f57e44590cdddb2465d9703744382c2c31a6b50a6f8667ebde907167cd7a6aabdada58555b91adae66cfb4_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(#3f7c38, #77aad9);
}

.u-section-6 .u-sheet-1 {
  min-height: 471px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 202px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: "Bungee Shade";
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 269px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: "Bungee Shade";
  margin: 26px auto 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 471px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-family: "Bungee Shade";
  margin: 0 0 0 20px;
}

.u-section-6 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }
}