 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/d9973e0fbbbab9178c5b9e734e105869991130abaf9ea252db845ee5e09153be293f72ac50514d9478e598c4ec88c96261382512f4bfbb28c02ac6_1280.jpg");
  background-position: 50% 65.09%;
  min-height: 657px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  font-family: "Bungee Shade";
  animation-duration: 1000ms;
  margin: 20px calc(((100% - 1140px) / 2) + 752px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  font-family: "Bungee Shade";
  font-weight: normal;
  margin: -81px calc(((100% - 1140px) / 2) + 43px) 0 calc(((100% - 1140px) / 2) + 699px);
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 363px);
  margin: -129px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 272px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-1 .u-form-1 {
  height: 261px;
  width: 233px;
  margin: 0 0 0 181px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px 104px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(135deg, #77aad9, #41807c);
  border-style: solid;
  font-style: italic;
  font-size: 1.125rem;
  font-family: "Alfa Slab One";
  font-weight: normal;
  margin: -99px calc(((100% - 1140px) / 2) + 115px) 60px auto;
  padding: 14px 32px 15px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 552px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 542px);
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 363px);
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    width: 153px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 332px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 363px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: calc(((100% - 540px) / 2) + 152px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 142px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 363px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: 81px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: linear-gradient(#4c7397, #fbeced);
}

.u-section-2 .u-sheet-1 {
  min-height: 893px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 402px;
  background-image: none;
}

.u-section-2 .u-image-1 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 14px 0 66px;
}

.u-section-2 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -29px auto 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-2 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-3 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-4 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-4 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-5 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-5 {
  height: 26px;
  width: 26px;
  margin: -29px auto 3px 20px;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 401px;
}

.u-section-2 .u-image-6 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 20px 0 60px;
}

.u-section-2 .u-icon-6 {
  height: 26px;
  width: 26px;
  margin: -29px auto 23px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
    margin-left: 49px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 9px;
    margin-left: 44px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 9px;
    margin-left: 35px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 12px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 6px;
    margin-left: 38px;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 413px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 323px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  margin: 39px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  margin: 20px 40px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  margin: 20px 40px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 600;
  margin: 20px 40px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 323px;
  background-image: none;
}

.u-section-3 .u-text-6 {
  font-weight: 600;
  margin: 95px 36px 0 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 600;
  margin: 20px 53px 0 20px;
}

.u-section-3 .u-text-8 {
  font-weight: 600;
  margin: 20px 53px 0 20px;
}

.u-section-3 .u-text-9 {
  font-weight: 600;
  margin: 22px 53px 30px 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 323px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-text-10 {
  font-size: 1.875rem;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-form-1 {
  height: 47px;
  margin: 41px 30px 0 0;
}

.u-section-3 .u-input-1 {
  border-radius: 10px;
  font-size: 0.75rem;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 23px;
  min-height: 16px;
  width: 233px;
  min-width: 191px;
  margin: 30px auto 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-icon-4 {
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    width: 264px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    width: 264px;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    width: 264px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 83px;
    margin-right: 16px;
    margin-left: 0;
    position: relative;
  }

  .u-section-3 .u-text-7 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    position: relative;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
    position: relative;
    margin-right: 16px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 31px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-form-1 {
    margin-top: 30px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 19px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 19px;
    margin-left: 13px;
    width: 202px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 19px;
    margin-left: 13px;
    width: 202px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 19px;
    margin-bottom: 30px;
    margin-left: 13px;
    width: 202px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 332px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 24px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 13px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 13px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    width: 189px;
  }

  .u-section-3 .u-text-4 {
    width: 189px;
  }

  .u-section-3 .u-text-5 {
    width: 189px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 22px;
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    width: 189px;
    margin-top: 15px;
    margin-right: 341px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    width: 189px;
    margin-right: 341px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 35px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 9px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -8px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -8px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-right: -3px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -3px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: -3px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    width: 159px;
    margin-top: 117px;
    margin-right: 166px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-8 {
    width: 159px;
    margin-right: 6px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-9 {
    width: 159px;
    margin-right: 6px;
    margin-left: 15px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 6px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 6px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 9px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.25), rgba(41,46,51,0.25)), url("images/50dec6e1aae33d0761538f6c4befaf927dd9d98cdc38d1a57613f8d6c741d89d16b913715b66c83cc4b7ce7f357a1caf2f175e4c192447b7b7c33e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 990px;
}

.u-section-4 .u-group-1 {
  min-height: 378px;
  width: 646px;
  background-image: none;
  margin: 102px 0 60px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 87px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(#adcce9, #adf6f2);
  border-style: solid;
  margin: 27px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-4 .u-group-1 {
    min-height: 450px;
    width: 660px;
    margin-top: 45px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-group-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-4 .u-group-1 {
    min-height: 485px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-4 .u-text-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 55px;
    margin-bottom: 50px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 197px;
}

.u-section-5 .u-group-1 {
  width: 832px;
  min-height: 158px;
  margin: 39px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 20px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-5 .u-group-1 {
    width: 686px;
    margin-top: 24px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 29px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 3rem;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: linear-gradient(#e9f2fa, #fbeced);
}

.u-section-6 .u-sheet-1 {
  min-height: 644px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 53px auto 70px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/86474c19612d5c7b8856ebd370c1a7808bbfbb4c5f785add3a7e75a702b4cf623c4d7bf16aa6ef7f34d119f701f0218509550c2a206c33349b09f7_1280.jpg");
  min-height: 558px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-2 {
  background-image: url("images/b784d7196a5ece32eb85059fdb0ef132fd5464a9b8e5611e531c0c0c9de10843d7ba2dbe4014c8a46acda98623d9277c548a9038d587db59822214_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 279px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-1 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 279px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 38px;
  width: 38px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/e9d8937f7a3db010dff7ec7cd623236e653de010dff3b75dd70c57461697c2d89513682259c0cf0799616d700b83e50fa3b28d8f4fb6a3051faae0_1280.jpg");
  min-height: 279px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}